:root {
  --page-bg-color: #1e1e1e;
  --header-color: #ffcc00;
  --input-text-color: #ffffff;
  --input-bg-color: #333333;
  --button-color: #ff6600;
  --button-border-color: #ffcc00;
  --container-bg-color: #2b2b2b;
  --container-border-color: #ffcc00;
  --delete-icon-color: #ff0000;
  --border-radius: 0.25rem;
}

body {
  font-family: 'Press Start 2P', cursive;
  background-color: var(--page-bg-color);
  color: var(--input-text-color);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  width: 100%;
  text-align: left;
  padding: 20px;
  background-color: var(--container-bg-color);
  border: thin solid var(--container-border-color);
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 50px; /* Add spacing above the main div */
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-color);
  text-shadow: 2px 2px #000;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--page-bg-color);
  border: thin solid var(--button-border-color);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  box-shadow: 2px 2px #000;
}

button img {
  filter: none;
  fill: var(--delete-icon-color);
}

#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  min-height: 30px;
  color: var(--header-color);
  text-shadow: 2px 2px #000;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: thin solid var(--button-border-color);
  border-radius: var(--border-radius);
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  box-shadow: 2px 2px #000;
}

#delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

li:nth-child(odd) {
  background-color: #444444;
}

li:nth-child(even) {
  background-color: var(--container-bg-color);
}

li span {
  display: inline-block;
  width: calc(100% - 40px);
}
