:root {
  --page-bg-color: #1e1e1e;
  --header-color: #fc0;
  --input-text-color: white;
  --input-bg-color: #333;
  --button-color: #d40;
  --button-border-color: #fc0;
  --container-bg-color: #2b2b2b;
  --container-border-color: #fc0;
  --delete-icon-color: #d00;
  --border-radius: 0.25rem;
  --li-alt-color: #333;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--page-bg-color);
  color: var(--input-text-color);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

div {
  max-width: 600px;
  width: 100%;
  text-align: left;
  padding: 2rem;
  background-color: var(--container-bg-color);
  border: thin solid var(--container-border-color);
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

div,
section {
  margin: 2rem 0;
}

section {
  display: grid;
  align-items: center;
  justify-items: stretch;
}

section p {
  /* #result */
  margin: 2rem;
  font-size: 3em;
  font-weight: bold;
  min-height: 4.5rem;
  color: var(--header-color);
  text-shadow: 2px 2px #000;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-color);
  text-shadow: 2px 2px black;
}

button {
  padding: 0.5rem 0.75rem;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--page-bg-color);
  border: thin solid var(--button-border-color);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  box-shadow: 2px 2px #000;
}

button svg {
  filter: none;
  fill: currentColor;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: thin solid var(--button-border-color);
  border-radius: var(--border-radius);
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  box-shadow: 2px 2px #000;
}

#delete {
  background-color: transparent;
  color: var(--delete-icon-color);
  cursor: pointer;
  border: 0;
}

#delete img {
  filter: none;
  fill: var(--delete-icon-color);
}

ul {
  margin-bottom: 2rem;
}

li,
form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

li:nth-child(odd) {
  background-color: var(--li-alt-color);
}

li:nth-child(even) {
  background-color: var(--container-bg-color);
}

li span,
form input {
  flex: 1;
}
